<!-- caraousel -->
<div class="container mt-4">
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
      data-bs-interval="2000"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="assets/images/flowers/roses/PR-1001.jpg"
            class="d-block w-50 mx-auto"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5 style= "color: #1d3557;">Rose Bouquet</h5>
            <p style="color: #1d3557;">
              A classic choice for any occasion.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/flowers/orchids/PRF-1300.jpg"
            class="d-block w-50 mx-auto"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5 style="color: #1d3557;">Orchids Collection</h5>
            <p style="color: #1d3557;">
              Brighten up your day with these vibrant Orchids.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/flowers/lilies/WL-1103.jpg"
            class="d-block w-50 mx-auto"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5 style="color: #1d3557;">Lily Arrangement</h5>
            <p style="color: #1d3557;">
              Elegant and fragrant lilies for special moments.
            </p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
        style=" background-color: #a8dadc;"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
        style=" background-color: #a8dadc;"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>