<div class="container-fluid pt-5 mt-5 pb-5 mb-4">
  <div class="row justify-content-center">
    <div class="col-7">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <!-- customer form group -->
        <div formGroupName="customer">
          <h3 class="display-6" style=" background-color: #a8dadc;">Customer Details:</h3>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">Name</label>
            <div class="col-md-9">
              <div>
                <input
                  formControlName="name"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="name?.invalid && (name?.dirty || name?.touched)"
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="name?.errors?.['required']">required field</div>

                  <div *ngIf="name?.errors?.['pattern']">
                    Name must contain only alphabets
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">Mobile</label>
            <div class="col-md-9">
              <div>
                <input
                  formControlName="mobile"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="mobile?.invalid && (mobile?.dirty || mobile?.touched)"
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="mobile?.errors?.['required']">required field</div>

                  <div *ngIf="mobile?.errors?.['pattern']">
                    Please enter only numbers
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">Email</label>
            <div class="col-md-9">
              <div>
                <input
                  formControlName="email"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="email?.errors?.['required']">required field</div>

                  <div *ngIf="email?.errors?.['email']">Email is invalid</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- shipping Address -->
        <div formGroupName="shippingAddress" class="form-area">
          <h3 class="display-6" style=" background-color: #a8dadc;" >Shipping Address:</h3>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">Country</label>
            <div class="col-md-9">
              <div>
                <select
                  formControlName="country"
                  class="form-control"
                  (change)="getStates('shippingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>

                <div
                  *ngIf="
                    shippingAddressCountry?.invalid &&
                    (shippingAddressCountry?.dirty ||
                      shippingAddressCountry?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="shippingAddressCountry?.errors?.['required']">
                    required field
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">Street</label>
            <div class="col-md-9">
              <div>
                <input
                  formControlName="street"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="
                    shippingAddressStreet?.invalid &&
                    (shippingAddressStreet?.dirty ||
                      shippingAddressStreet?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="shippingAddressStreet?.errors?.['required']">
                    required field
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">City</label>
            <div class="col-md-9">
              <div>
                <input
                  formControlName="city"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="
                    shippingAddressCity?.invalid &&
                    (shippingAddressCity?.dirty || shippingAddressCity?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="shippingAddressCity?.errors?.['required']">
                    required field
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">State</label>
            <div class="col-md-9">
              <div>
                <select formControlName="state" class="form-control">
                  <option
                    *ngFor="let state of shippingAddressStates"
                    [ngValue]="state"
                  >
                    {{ state.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    shippingAddressState?.invalid &&
                    (shippingAddressState?.dirty ||
                      shippingAddressState?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="shippingAddressState?.errors?.['required']">
                    required field
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">Zip Code</label>
            <div class="col-md-9">
              <div>
                <input
                  formControlName="zipCode"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="
                    shippingAddressZipCode?.invalid &&
                    (shippingAddressZipCode?.dirty ||
                      shippingAddressZipCode?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="shippingAddressZipCode?.errors?.['required']">
                    required field
                  </div>
                  <div *ngIf="shippingAddressZipCode?.errors?.['pattern']">
                    Zipcode is invalid
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Add check box to copy shipping to billing -->
        <div class="form-check mb-3">
          <label>
            <input
              type="checkbox"
              class="form-check-input"
              (change)="copyShippingAddressToBillingAddress($event)"
            />
            <span></span>Billing Address same as Shipping Address
          </label>
        </div>

        <!-- Billing Address -->
        <div formGroupName="billingAddress" class="form-area">
          <h3 class="display-6" style=" background-color: #a8dadc;">Billing Address:</h3>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">Country</label>
            <div class="col-md-9">
              <div>
                <select
                  formControlName="country"
                  (change)="getStates('billingAddress')"
                  class="form-control"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    billingAddressCountry?.invalid &&
                    (billingAddressCountry?.dirty ||
                      billingAddressCountry?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="billingAddressCountry?.errors?.['required']">
                    required field
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">Street</label>
            <div class="col-md-9">
              <div>
                <input
                  formControlName="street"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="
                    billingAddressStreet?.invalid &&
                    (billingAddressStreet?.dirty ||
                      billingAddressStreet?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="billingAddressStreet?.errors?.['required']">
                    required field
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">City</label>
            <div class="col-md-9">
              <div>
                <input
                  formControlName="city"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="
                    billingAddressCity?.invalid &&
                    (billingAddressCity?.dirty || billingAddressCity?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="billingAddressCity?.errors?.['required']">
                    required field
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">State</label>
            <div class="col-md-9">
              <div>
                <select formControlName="state" class="form-control">
                  <option
                    *ngFor="let state of billingAddressStates"
                    [ngValue]="state"
                  >
                    {{ state.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    billingAddressState?.invalid &&
                    (billingAddressState?.dirty || billingAddressState?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="billingAddressState?.errors?.['required']">
                    required field
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">Zip Code</label>
            <div class="col-md-9">
              <div>
                <input
                  formControlName="zipCode"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="
                    billingAddressZipCode?.invalid &&
                    (billingAddressZipCode?.dirty ||
                      billingAddressZipCode?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="billingAddressZipCode?.errors?.['required']">
                    required field
                  </div>
                  <div *ngIf="billingAddressZipCode?.errors?.['pattern']">
                    Invalid Zipcode
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Debit Card -->
        <div formGroupName="creditCard" class="form-area">
          <h3 class="display-6" style=" background-color: #a8dadc;">Debit Card Details:</h3>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">Card Type</label>
            <div class="col-md-9">
              <div>
                <select formControlName="cardType" class="form-control">
                  <option>Visa</option>
                  <option>Mastercard</option>
                  <option>Rupay</option>
                </select>
                <div
                  *ngIf="
                    creditCardType?.invalid &&
                    (creditCardType?.dirty || creditCardType?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="creditCardType?.errors?.['required']">
                    requried field
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">Name on Card</label>
            <div class="col-md-9">
              <div>
                <input
                  formControlName="nameOnCard"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="
                    creditCardNameOnCard?.invalid &&
                    (creditCardNameOnCard?.dirty ||
                      creditCardNameOnCard?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="creditCardNameOnCard?.errors?.['required']">
                    requried field
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">Card Number</label>
            <div class="col-md-9">
              <div>
                <input
                  formControlName="cardNumber"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="
                    creditCardNumber?.invalid &&
                    (creditCardNumber?.dirty || creditCardNumber?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="creditCardNumber?.errors?.['required']">
                    requried field
                  </div>
                  <div *ngIf="creditCardNumber?.errors?.['pattern']">
                    Invalid Credit Card Number
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">Security Code</label>
            <div class="col-md-9">
              <div>
                <input
                  formControlName="securityCode"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="
                    creditCardSecurityCode?.invalid &&
                    (creditCardSecurityCode?.dirty ||
                      creditCardSecurityCode?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="creditCardSecurityCode?.errors?.['required']">
                    required field
                  </div>
                  <div *ngIf="creditCardSecurityCode?.errors?.['pattern']">
                    Invalid Credit Credit card security code
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">Expiration Month</label>
            <div class="col-md-9">
              <div>
                <select formControlName="expirationMonth" class="form-control">
                  <option *ngFor="let month of creditCardMonths">
                    {{ month }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">Expiration Year</label>
            <div class="col-md-9">
              <div>
                <select
                  formControlName="expirationYear"
                  class="form-control"
                  (change)="handleMonthsAndYears()"
                >
                  <option *ngFor="let year of creditCardYears">
                    {{ year }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Order details -->
        <div>
          <h3 class="display-6" style=" background-color: #a8dadc;">Review Your Order</h3>
          <p>Total Quantity: {{ totalQuantity }}</p>
          <p>Total Price: {{ totalPrice | currency : "INR" }}</p>
        </div>

        <!-- submit button-->
        <!--
        <div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="checkoutFormGroup.invalid"
          >
            Purchase
          </button>
        </div>
      -->
        <div>
          <button type="submit" class="btn btn-primary" style=" background-color: #a8dadc;">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
