<div class="container-fluid mt-5 pt-5">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img [src]="flower.imageUrl" class="detail-img" width="300px" alt="" />
      <br />
    </div>
    <div class="col-md-4">
      <h2>{{ flower.name }}</h2>
      <div class="price">{{ flower.price | currency : "INR" }}</div>

      <hr />
      <h3>Description</h3>
      <p>{{ flower.description }}</p>

      <hr />
      <h3>Product Info</h3>
      <!-- <p class="mt-4 border border-secondary p-2 rounded">
        SKU : {{ flower.sku }}
      </p> -->
      <p style="white-space: pre-line">{{ flower.productInfo }}</p>
      <button
        class="btn btn-primary btn-sm"
        style="background-color: #a8dadc"
        (click)="addProductToCart()"
      >
        Add To Cart
      </button>
    </div>
  </div>
</div>
