<header>
  <h1>About Us</h1>
  <p>Your Trusted Source for Beautiful Flowers</p>
</header>
<div class="container">
  <h2>Our Story</h2>
  <p>
    At Flower Store, we are passionate about flowers and committed to providing
    our customers with the freshest and most stunning floral arrangements. Our
    journey began with a simple idea: to spread joy and happiness through the
    beauty of flowers.
  </p>

  <h2>Our Mission</h2>
  <p>
    Our mission is to create memorable moments for our customers by offering a
    wide selection of handpicked flowers, expertly arranged to suit any
    occasion. Whether it's a birthday, anniversary, or a special event, we
    believe that flowers have the power to express emotions and make every
    moment extraordinary.
  </p>

  <div class="image-container">
    <img
      src="assets/images/flowers/logo/logo3.jpg"
      alt="Flower Shop Interior"
    />
  </div>

  <h2>Quality and Excellence</h2>
  <p>
    We take pride in the quality of our flowers and the craftsmanship of our
    arrangements. Each bouquet is made with care and attention to detail,
    ensuring that every petal is perfect. Our team of talented florists is
    dedicated to exceeding your expectations.
  </p>

  <p class="quote">
    "Bringing beauty and happiness into your life, one flower at a time."
  </p>
</div>

<footer>&copy; 2023 Flower Store | Contact Us: contact@flowerstore.com</footer>
